
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
}

body {
    background: #f3f5f9;
}

.navbar {
    padding-left: 10px;
    padding-right: 10px;
}

.main-logo {
    font-family: "Charmonman", cursive;
    display: inline-block;
    color: white;
    margin-top: 10px;
    margin-left: 25px;
    font-size: 2.0rem;
    font-weight: 600;
}

.dropdown-menu-right {
    right: 0;
    left: auto;
}

.wrapper {
    display: flex;
    position: relative;
    margin-bottom: 55px;
}

.wrapper .sidebar {
    width: 225px;
    background-color: #343a40;
    margin: 10px;
    height: 100%;
    border-radius: 5px;
}

.wrapper .main-content {
    width: 100%;
    margin: 10px;
}

.wrapper .sidebar h3 {
    color: #fff;
    text-transform: capitalize;
    text-align: center;
    margin-top: 10px;
}

.wrapper .sidebar ul li {
    list-style: none;
    padding: 15px;
    border-bottom: 1px solid rgba(225,225,225,0.5);
}

.wrapper .sidebar ul li a {
    color: #fff;
    display: block;
    text-decoration: none;
}

.wrapper .sidebar h3 a {
    color: #fff;
    display: block;
    text-decoration: none;
}

div.page-title {
    margin: 20px;
}

div.input {
    padding: 10px;
    text-align: left;
    font-weight: bold;
}

div.text {
    margin-top: 10px;
}

div.button-right {
    padding: 10px;
    text-align: right;
    text-decoration: #fff;
}

div.button-left {
    padding: 10px;
    text-align: left;
    text-decoration: #fff;
}

table.table {
    text-align: left;
}

/* table.table thead tr th{
    font-weight: normal;
} */

table.table tbody tr td a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

h5.card-title {
    margin: 10px;
    text-align: left;
}

h5.card-title a {
    color: black;
}

div.list {
    text-align: left;
}

span.list-title {
    font-weight: bold;
}

a.link {
    text-decoration: none;
    margin-left: 15px;
}

div.link {
    font-weight: bold;
    margin-bottom: 15px;
}

h5.pagination-header {
    margin-top: 10px;
}

div.pagination-row {
    margin-left: 1px;
    margin-right: 1px;
}

div.header-right {
    text-align: right;
}

div.header-left {
    text-align: left;
}

div.header-right a {
    text-decoration: none;
    color: black;
}

a.page-link {
    color: black;
}

h5.text-center {
    text-align: center;
}

div.button-right-modal {
    padding: 10px;
    padding-right: 20px;
    text-align: right;
    text-decoration: #fff;
}

div.button-left-modal {
    padding: 10px;
    padding-left: 20px;
    text-align: left;
    text-decoration: #fff;
}

div.footer-modal {
    margin: 2px;
    padding-left: 10px;
    padding-right: 10px;
}

div.header-modal {
    margin: 2px;
    padding-top: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(225,225,225); 
}

div.body-modal {
    margin: 2px;
    padding-top: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(225,225,225);
    font-weight: bold;
}

input.modal-input {
    border: none;
    width: 35px;
    margin: auto;
    display: block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

p.error {
    color: red;
}

div.display-none {
    display: none;
}

div.display-active {
    display: block;
}