
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scrollbar-width: none;
}

html, body {
    background: #f3f5f9;
    font-family: serif;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

div.container-style {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: -55px;
}

div.container-style section {
    margin: 2px;
}

div.footer-push-style, div.footer-style {
    clear: both;
    height: 56px;
}

h3 {
    font-size: 1.5rem;
    margin-top: 2px;
    margin-bottom: 0px;
}

nav.navbar-style {
    padding-left: 10px;
    padding-right: 10px;
}

a.main-style {
    display: inline-block;
    color: white;
    margin-left: 25px;
    font-size: 1.8rem;
}

img.logo-style {
    width: 50px; 
    height: 50px;
}

div.dropdown-style {
    right: 0;
    left: auto;
}

div.wrapper-style {
    display: flex;
    position: relative;
}

div.sidebar-style {
    width: 225px;
    background-color: #343a40;
    margin: 10px;
    height: 100%;
    border-radius: 5px;
}

div.main-content-style {
    width: 100%;
    margin: 10px;
}

div.sidebar-style h3 {
    color: #fff;
    text-align: center;
    margin-top: 10px;
}

div.sidebar-style h3 a {
    color: #fff;
    display: block;
    text-decoration: none;
}

div.sidebar-style ul li {
    list-style: none;
    padding: 15px;
    border-bottom: 1px solid rgba(225,225,225,0.5);
}

div.sidebar-style ul li a {
    color: #fff;
    display: block;
    text-decoration: none;
}

div.header-style {
    height: 75px;
    align-items: center;
    font-size: 1.5rem;
    padding: 5px;
}

div.header-right-style {
    text-align: right;
}

div.pagination-style {
    display: inline-block;
}

div.pagination-style a {
    color: black;
    padding: 4px 8px;
    text-decoration: none;
}

div.pagination-style a.active {
    background-color: black;
    color: white;
    border-radius: 5px;
}

div.pagination-style a.arrow {
    padding: 4px 0px;
}

div.card-header-style {
    height: 55px;
}

div.card-header-style ul li a {
    color: black;
}

div.card-header-style ul li a:hover {
    height: 47px;
}

div.card-header-style ul li a.active {
    height: 47px;
}

div.card-header-search-style {
    display: flex;
    justify-content: space-between;
    margin-right: -6px;
    margin-left: -6px;
}

div.card-header-search-style div {
    display: flex;
    flex-direction: row;
}

div.card-header-search-style div select {
    width: 200px;
    height: 40px;
    border: 1px solid grey;
    background-color: white;
    border-radius: 5px;
}

div.card-header-search-style div form input {
    width: 200px;
    padding: 6px;
    height: 40px;
    border: 1px solid grey;
    background-color: white;
    border-radius: 5px;
    outline: none;
}

div.card-header-search-style div form button {
    background: transparent;
    border: none;
    outline: none;
    margin-left: -33px;
}

div.card-header-search-style div form button img {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

div.card-header-search-style div a {
    margin-left: 10px;
}

table.table-style {
    margin-bottom: 0px;
}

table.table-style tbody tr td a {
    text-decoration: none;
    color: black;
    font-style: italic;
}

div.header-right {
    justify-content: end;
}

div.input-style {
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

div.message-style {
    justify-content: center;
    padding-top: 10px;
    text-align: center;
}

div.message-style div p a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

div.button-style {
    text-align: right;
    padding-top: 14px;
    padding-bottom: 7px;
}

div.input-style div.form-check {
    float:left;
    width:25%;
}

ul.list-style {
    margin-left: -10px;
}

div.card-center-style {
    margin-left: 1px;
    margin-right: 1px;
    text-align: center;
    align-items: center;
    font-size: 1.25rem;
}

div.card-center-style div a {
    color: black;
    text-decoration: none;
}

select.select-pagination-style {
    font-size: 1.25rem;
    background-color: white;
    text-align-last: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;
    padding: 5px 10px;
    border: 1px solid grey;
    border-radius: 5px;
}

select.select-pagination-style option {
    font-size: 1.0rem;
}

select.select-table-style {
    border: none;
    font-weight: bold;
    background-color: white;
    text-align-last: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center; 
    
}

div.modal-header-style {
    text-align: center;
    font-size: 1.5rem;
    padding-top: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(225,225,225); 
}

div.modal-body-style {
    text-align: center;
    font-size: 1.25rem;
    padding-top: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(225,225,225);
}

div.modal-body-style div div input {
    border: none;
    width: 35px;
    margin: auto;
    display: block;
}

div.modal-footer-style {
    padding: 10px;
    padding-top: 25px;
}

div.modal-footer-style div div.modal-footer-right-style {
    text-align: right;
}

div.modal-body-style div p.error-style {
    color: red;
    font-size: 1.0rem;
    font-weight: bold;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
