
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
}

body {
    background: #f3f5f9;
}

.navbar {
    padding-left: 10px;
    padding-right: 10px;
}

.main-logo {
    font-family: "Charmonman", cursive;
    display: inline-block;
    color: white;
    margin-top: 10px;
    margin-left: 25px;
    font-size: 2.0rem;
    font-weight: 600;
}

.dropdown-menu-right {
    right: 0;
    left: auto;
}

.wrapper {
    display: flex;
    position: relative;
    margin-bottom: 55px;
}

.wrapper .sidebar {
    width: 225px;
    background-color: #343a40;
    margin: 10px;
    height: 100%;
    border-radius: 5px;
}

.wrapper .main-content {
    width: 100%;
    margin: 10px;
}

.wrapper .sidebar h3 {
    color: #fff;
    text-transform: capitalize;
    text-align: center;
    margin-top: 10px;
}

.wrapper .sidebar ul li {
    list-style: none;
    padding: 15px;
    border-bottom: 1px solid rgba(225,225,225,0.5);
}

.wrapper .sidebar ul li a {
    color: #fff;
    display: block;
    text-decoration: none;
}

.wrapper .sidebar ul li:hover {
    background-color: #f3f5f9;
}

.wrapper .sidebar ul li:hover a {
    color: #343a40;
}

div.page-title {
    margin: 20px;
}

div.input {
    padding: 10px;
    text-align: left;
    font-weight: bold;
}

form.button {
    padding: 10px;
    text-align: right;
    text-decoration: #fff;
}

div.button {
    padding: 10px;
    text-align: right;
    text-decoration: #fff;
}

table.table {
    text-align: left;
}

table.table tbody tr td a {
    text-decoration: none;
}