{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="page-title">
    <h3>Aplikacja piłkarska</h3>
</div>
<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'index' %}">Strona domowa</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'leagues' %}">Ligi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'teams' %}">Drużyny</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <img class="d-block img-thumbnail" src="{% static 'image/index.jpg' %}" alt="Football">
    </div>
</div>
{% endblock %}