{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="page-title">
    <div class="row header-style">
        {% if is_paginated %}
            <div class="col-6">
                <h3>Ligi piłkarskie</h3>
            </div>
            <div class="col-6 header-right-style pagination-style">
                {% if page_obj.number > 1 %}
                    <a class="arrow" href="?page={{ page_obj.number|add:'-1' }}">&laquo;</a>
                {% endif %}
                {% if page_obj.paginator.num_pages <= 1 %}
                    {{ pass }}
                {% else %}
                    {% for i in page_obj.paginator.page_range %}
                        {% if page_obj.number == i %}
                            <a class="active" href="?page={{ i }}">{{ i }}</a>
                        {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
                            <a href="?page={{ i }}">{{ i }}</a>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% if page_obj.paginator.num_pages > page_obj.number %}
                    <a class="arrow" href="?page={{ page_obj.number|add:'1' }}">&raquo;</a>               
                {% endif %}
            </div>
        {% else %}
            <div class="col-12">
                <h3>Ligi piłkarskie</h3>
            </div>
        {% endif %}
    </div>
</div>
<div class="card">
    <div class="card-header card-header-style">
        <div class="search-style">
            <form action="" method="GET">
                <input type="search" name="search" id="search" placeholder="Szukaj">
                <button type="submit">
                    <img src="{% static 'image/search.png' %}" alt="Szukaj">
                </button>
            </form>
            {% if request.user.is_authenticated %}
                <a class="btn btn-dark button-style" href="{% url 'league-create' %}">Dodaj</a>
            {% endif %}
        </div>
    </div>
    <div class="card-body">
        <table class="table table-style">
            <thead>
                <tr class="d-flex">
                    <th class="col-6">Nazwa</th>
                    <th class="col-3 text-center">Kraj</th>
                    <th class="col-3 text-center">Poziom rozgrywek</th>
                </tr>
            </thead>
            <tbody>
                {% for league in league_list %}
                    <tr class="d-flex">
                        <td class="col-6">
                            <a href="{% url 'league' pk=league.pk %}">{{ league.name }}</a>
                        </td>
                        <td class="col-3 text-center">{{ league.country.name }}</td>
                        <td class="col-3 text-center">{{ league.competition_class }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}