{% extends 'base.html' %}
{% block content %}
<div class="page-title">
    <div class="row header-style">
        {% if request.user.is_authenticated %}
            <div class="col-6">
                <h3>{{ league }}</h3>
            </div>
            <div class="col-6 header-right-style">
                <a class="btn btn-dark" href="{% url 'league-update' pk=league.pk %}">Opcje</a>
            </div>
        {% else %}
            <div class="col-12">
                <h3>{{ league }}</h3>
            </div>
        {% endif %}
    </div>
</div>
<div class="card">
    <div class="card-header card-header-style">
        <ul class="nav nav-tabs card-header-tabs">
            {% if league.seasons.first %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'season-table' pk=league.seasons.first.pk %}">Tabela</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'season-match' pk=league.seasons.first.pk %}">Mecze</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'league-info' pk=league.pk %}">Liga</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <h5>Informacje</h5>
        <ul class="list-style">
            <li>Państwo: <b>{{ league.country.name }}</b></li>
            <li>Poziom rozgrywek: <b>{{ league.competition_class }} klasa</b></li>
            <li>Aktualny sezon: 
                <b>{% if league.seasons.first.is_active %}{{ league.seasons.first.season_years }}{% else %}-----{% endif %}</b>
            </li>
            <li>Rozegrane sezony: <b>{{ league.seasons.count }}</b></li>
        </ul>
        {% if league.seasons.first %}
            <h5>Rozegrane sezony</h5>
            <table class="table table-style">
                <thead>
                    <tr class="d-flex">
                        <th class="col-4">Sezon</th>
                        <th class="col-3 text-center">Data rozpoczęcia</th>
                        <th class="col-3 text-center">Data zakończenia</th>
                        <th class="col-2 text-center">Trwa</th>
                    </tr>
                </thead>
                <tbody>
                    {% for season in league.seasons.all %}
                        <tr class="d-flex">
                            <td class="col-4">
                                <a href="{% url 'season-table' pk=season.pk %}">{{ season }}</a>
                            </td>
                            <td class="col-3 text-center">{{ season.date_start|date:"d.m.Y" }}</td>
                            <td class="col-3 text-center">{{ season.date_end|date:"d.m.Y" }}</td>
                            <td class="col-2 text-center">
                                {% if season.is_active %}
                                    &#10003;
                                {% else %}
                                    {% if request.user.is_authenticated %}
                                        <a href="{% url 'season-delete' pk=season.pk %}">&#10007;</a>
                                    {% else %}
                                        &#10007;
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
</div>
{% endblock %}