{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="page-title">
    <div class="row header-style">
        <div class="col-6">
            <h3>{{ league }} - opcje</h3>
        </div>
        <div class="col-6 header-right-style">
            <a class="btn btn-dark" href="{% url 'league-info' pk=league.pk %}">Wstecz</a>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header card-header-style">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'league-update' pk=league.pk %}">Edytuj ligę</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'season-create' pk=league.pk %}">Stwórz sezon</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'league-delete' pk=league.pk %}">Usuń ligę</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <form class="form-control" action="" method="POST">
            {% csrf_token %}
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <div class="row message-style">
                        <div class="col-lg-6 col-md-9 col-sm-12">
                            <p class="text-danger"><strong>{{ error }}</strong></p>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="row message-style">
                <div class="col-lg-6 col-md-9 col-sm-12">
                    <h5>Potwierdź usunięcie ligi: <b>{{ league }}</b></h5>
                </div>
            </div>
            <div class="row button-style">
                <div>
                    <button type="submit" class="btn btn-dark">Potwierdź</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}