{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div style="margin: 20px;">
        <h3>
        {{ league }}, {{ league.country.name }}
        </h3>
    </div>
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'league-table' pk=league.pk %}">Tabela</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Kolejki</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <h5 class="card-title">Tabela ligowa</h5>
            <table class="table">
                <thead>
                    <tr class="d-flex">
                        <th scope="col" class="col-1">Pozycja</th>
                        <th scope="col" class="col-5">Drużyna</th>
                        <th scope="col" class="col-2">Punkty</th>
                        <th scope="col" class="col-2">Bilans</th>
                        <th scope="col" class="col-2">Mecze</th>
                    </tr>
                </thead>
                <tbody>
                    {% for team in teams %}
                    <tr class="d-flex">
                        <td class="col-1">{{ forloop.counter }}</td>
                        <td class="col-5">{{ team.team }}</td>
                        <td class="col-2">{{ team.points }}</td>
                        <td class="col-2 ">{{ team.goals_scored }}:{{ team.goals_lost }}</td>
                        <td class="col-2">{{ team.matches_played }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}