{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="page-title">
    <div class="row header-style">
        <div class="col-6">
            <h3>Aplikacja piłkarska</h3>
        </div>
        <div class="col-6 header-right-style">
            <a class="btn btn-dark" href="{% url 'index' %}">Wstecz</a>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header card-header-style">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'login' %}">Zaloguj się</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <form class="form-control" action="" method="POST">
            {% csrf_token %}
            <div class="row input-style">
                <div class="col-lg-6 col-md-9 col-sm-12">
                    {{ form.email|as_crispy_field }}
                </div>
            </div>
            <div class="row input-style">
                <div class="col-lg-6 col-md-9 col-sm-12">
                    {{ form.password|as_crispy_field }}
                </div>
            </div>
            <div class="row button-style">
                <div>
                    <button type="submit" class="btn btn-dark">Zaloguj</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}