{% extends 'base.html' %}
{% block content %}
<div class="page-title">
    <div class="row header-style">
        <div class="col-6">
            <h3>{{ season.league }}</h3>
        </div>
        <div class="col-6 header-right-style pagination-style">
            {% if prev %}<a class="arrow" href="{% url 'season-table' pk=prev.pk %}">&laquo;</a>{% endif %}
            <a href="{% url 'season-table' pk=season.pk %}">{{ season.season_years }}</a>
            {% if next %}<a class="arrow" href="{% url 'season-table' pk=next.pk %}">&raquo;</a>{% endif %}
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header card-header-style">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'season-table' pk=season.pk %}">Tabela</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'season-match' pk=season.pk %}">Mecze</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'league-info' pk=season.league.pk %}">Liga</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <table class="table table-style">
            <thead>
                <tr class="d-flex">
                    <th class="col-1">Nr</th>
                    <th class="col-5">Drużyna</th>
                    <th class="col-2 text-center">Punkty</th>
                    <th class="col-2 text-center">Bilans</th>
                    <th class="col-2 text-center">Mecze</th>
                </tr>
            </thead>
            <tbody>
                {% for season_team in season.season_team_table.all %}
                <tr class="d-flex">
                    <td class="col-1">{{ forloop.counter }}</td>
                    <td class="col-5">
                        <a href="{% url 'team-table' pk=season_team.team.pk pk_season=season.pk %}">{{ season_team.team }}</a>
                    </td>
                    <td class="col-2 text-center">{{ season_team.points }}</td>
                    <td class="col-2 text-center">{{ season_team.goals_scored }}:{{ season_team.goals_lost }}</td>
                    <td class="col-2 text-center">{{ season_team.matches_played }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}