{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="page-title">
    <h3>{{ season }}</h3>
</div>
<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'season-delete' pk=season.pk %}">Usuń</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <h5 class="card-title">Usuń sezon</h5>
        <form class="form-control" action="" method="POST">
            {% csrf_token %}
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <div class="row">
                        <div class="col-12 text">
                            <p class="text-danger"><strong>{{ error }}</strong></p>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="row">
                <div class="col-12 text">
                    <h5>Potwierdź usunięcie sezonu: <b>{{ season }}</b></h5>
                </div>
                <div class="col-12 text">
                    <h5>Status: 
                        <b> {% if season.is_active %} Niezakończony {% else %} Zakończony {% endif %} </b>
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-6 button-left">
                    <input type="submit" class="btn btn-dark" value="Potwierdź">
                </div>
                <div class="col-6 button-right">
                    <a class="btn btn-success" href="{% url 'league-info' pk=season.league.pk %}">Anuluj</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}