{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="page-title">
    <h3>{{ object }}{% if object.actuall_league %}, {{ object.actuall_league }}{% endif %}</h3>
</div>
<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'team-seasons' pk=object.pk %}">Sezony rozegrane</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Mecze rozegrane</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Mecze do rozegrania</a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'team-update' pk=object.pk %}">Edytuj drużynę</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'teams' %}">Wszystkie drużyny</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr class="d-flex">
                    <th scope="col" class="col-3">Liga</th>
                    <th scope="col" class="col-3">Sezon</th>    
                    <th scope="col" class="col-2">Punkty</th>
                    <th scope="col" class="col-2">Bilans</th>
                    <th scope="col" class="col-2">Mecze</th>
                </tr>
            </thead>
            <tbody>
                {% for season in seasons %}
                <tr class="d-flex">
                    <td class="col-3">{{ season.season.league }}</td>
                    <td class="col-3">{{ season.season.season_years }}</td>
                    <td class="col-2">{{ season.points }}</td>
                    <td class="col-2">{{ season.goals_balance }}</td>
                    <td class="col-2">{{ season.matches_played }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}