{% extends 'base.html' %}
{% block content %}
<div class="page-title">
    <div class="row header-style">
        <div class="col-6">
            <h3>{{ team }}</h3>
        </div>
        <div class="col-6 header-right-style pagination-style">
            {% if prev %}<a class="arrow" href="{% url 'team-match' pk=team.pk pk_season=prev.pk%}">&laquo;</a>{% endif %}
            <a href="{% url 'team-match' pk=team.pk pk_season=season.pk %}">{{ season.season_years }}</a>
            {% if next %}<a class="arrow" href="{% url 'team-match' pk=team.pk pk_season=next.pk %}">&raquo;</a>{% endif %}
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header card-header-style">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'team-table' pk=team.pk pk_season=season.pk %}">Tabela ligowa</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'team-match' pk=team.pk pk_season=season.pk %}">Mecze</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'team-info' pk=team.pk %}">Drużyna</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="row card-center-style">
            <div class="col-12"> 
                <a href="{% url 'season-match' pk=season.pk %}"><i>{{ season }}</i></a>
            </div>
        </div>
        <table class="table table-style text-center">
            <thead>
                <tr class="d-flex">
                    <th class="col-2">Kolejka</th>
                    <th class="col-3">Gospodarz</th>
                    <th class="col-2">Wynik</th>
                    <th class="col-3">Gość</th>
                    <th class="col-2">Data</th>
                </tr>
            </thead>
            <tbody>
                {% for match in match_list %}
                    <tr class="d-flex">
                        <td class="col-2">{{ match.match_day }}</td>
                        <td class="col-3">
                            {% if match.team_home == team %}
                                <b>{{ match.team_home }}</b>
                            {% else %}
                                {{ match.team_home }}
                            {% endif %}
                        </td>
                        <td class="col-2">
                            {% if match.team_home_goals %}
                                {{ match.team_home_goals }}:{{ match.team_away_goals }}
                            {% else %}
                                -:-
                            {% endif %}
                        </td>
                        <td class="col-3">
                            {% if match.team_away == team %}
                                <b>{{ match.team_away }}</b>
                            {% else %}
                                {{ match.team_away }}
                            {% endif %}
                        </td>
                        <td class="col-2">{{ match.match_day_date|date:"d.m.Y" }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}