{% extends 'base.html' %}
{% block content %}
<div class="page-title">
    <div class="row header-style">
        {% if request.user.is_authenticated %}
        <div class="col-6">
            <h3>{{ team }}</h3>
        </div>
        <div class="col-6 header-right-style">
            <a class="btn btn-dark" href="{% url 'team-update' pk=team.pk %}">Opcje</a>
        </div>
        {% else %}
        <div class="col-12">
            <h3>{{ team }}</h3>
        </div>
        {% endif %}
    </div>
</div>
<div class="card">
    <div class="card-header card-header-style">
        <ul class="nav nav-tabs card-header-tabs">
            {% if team.seasons.first %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'team-table' pk=team.pk pk_season=team.seasons.first.pk %}">Tabela ligowa</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'team-match' pk=team.pk pk_season=team.seasons.first.pk %}">Mecze</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'team-info' pk=team.pk %}">Drużyna</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <h5>Informacje</h5>
        <ul class="list-style">
            <li>Kraj: <b>{{ team.country.name }}</b></li>
            <li>Obecne rozgrywki: 
                <b>{% if team.seasons.first.is_active %} {{ team.seasons.first }} {% else %} ----- {% endif %}</b>
            </li>
        </ul>
        {% if team.seasons.first %}
            <h5>Rozegrane sezony</h5>
            <table class="table table-style">
                <thead>
                    <tr class="d-flex">
                        <th class="col-4">Sezon</th>
                        <th class="col-3 text-center">Data rozpoczęcia</th>
                        <th class="col-3 text-center">Data zakończenia</th>
                        <th class="col-2 text-center">Trwa</th>
                    </tr>
                </thead>
                <tbody>
                    {% for season in team.seasons.all %}
                        <tr class="d-flex">
                            <td class="col-4">
                                <a href="{% url 'team-table' pk=team.pk pk_season=season.pk %}">{{ season }}</a>
                            </td>
                            <td class="col-3 text-center">{{ season.date_start|date:"d.m.Y" }}</td>
                            <td class="col-3 text-center">{{ season.date_end|date:"d.m.Y" }}</td>
                            <td class="col-2 text-center">
                                {% if season.is_active %}
                                    &#10003;
                                {% else %}
                                    &#10007;
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
</div>
{% endblock %}