{% extends 'team.html' %}
{% load crispy_forms_tags %}
{% block content_team %}
    <div class="card-body">
        <h5 class="card-title">Edytuj drużynę</h5>
        <form class="form-control" action="" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-6 col-md-9 col-sm-12 input">
                    {{ form.name|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-9 col-sm-12 input">
                    {{ form.actuall_league|as_crispy_field }}
                </div>
            </div>
            <div class="row">
                <div class="col-6 button-left">
                    <input type="submit" class="btn btn-dark" value="Zapisz">
                </div>
                <div class="col-6 button-right">
                    <a class="btn btn-danger" href="{% url 'team-delete' pk=team.pk %}">Usuń drużynę</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}