{% extends 'base.html' %}
{% block content %}
<div class="page-title">
    <h3>{{ team }}</h3>
</div>
<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'team-update' pk=team.pk %}">Edytuj</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'team-delete' pk=team.pk %}">Usuń</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <h5 class="card-title">Usuń drużynę</h5>
        <form class="form-control" action="" method="POST">
            {% csrf_token %}
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <div class="row row-center">
                        <div class="col-lg-6 col-md-9 col-sm-12 text">
                            <p class="text-danger"><strong>{{ error }}</strong></p>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="row row-center">
                <div class="col-lg-6 col-md-9 col-sm-12 text">
                    <h5>Potwierdź usunięcie drużyny: <b>{{ team }}</b></h5>
                </div>
            </div>
            <div class="row row-center">
                <div class="col-lg-6 col-md-9 col-sm-12">
                    <div class="row">
                        <div class="col-6 button-left">
                            <input type="submit" class="btn btn-dark" value="Potwierdź">
                        </div>
                        <div class="col-6 button-right">
                            <a class="btn btn-success" href="{% url 'team-info' pk=team.pk %}">Anuluj</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        </form>
    </div>
</div>
{% endblock %}