{% extends 'base.html' %}
{% block content %}
<div class="page-title">
    <h3>{{ team }}{% if team.actuall_league %}, {{ team.actuall_league }}{% endif %}</h3>
</div>
<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'team-seasons' pk=team.pk %}">Sezony rozegrane</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Mecze rozegrane</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Mecze do rozegrania</a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'team-update' pk=team.pk %}">Edytuj drużynę</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'teams' %}">Wszystkie drużyny</a>
            </li>
        </ul>
    </div>
    <!-- //--------------------------- page content_league -------------------------// -->
    {% block content_team %}{% endblock content_team %}
    <!-- //--------------------------- page content_league end ---------------------// -->
</div>
{% endblock %}